/* 13 . grid-auto-flow: Chỉ định hướng của grid */

/* beauty CSS */

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}

.container {
  display: grid;
  gap: 2px;
  /* Mặc định hướng các item là row */
  /* grid-auto-flow: row; */
  /* số cột mặc định là 1 nên cần chỉ định số cột */
  /* grid-template-columns: repeat(5, 100px); */

  /* chuyển hướng sang column */
  grid-auto-flow: column;
  /* chỉ định số hàng */
  grid-template-rows: repeat(3, 50px);
}
